# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=b67b673fc35cc17fcc4d5686d5ba6846ade9f42fc88061c5f8b8e9fcc423125aa2af57b95cfc2555d35ab158fd348489049bbaf21939fc5879c4019026478b93
REDIS_URL=redis://localhost:6379/9
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
